@charset "UTF-8";

     body {
        text-align: center;
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f4f4f4;
        }

        h1 {
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
        }

        section {
            background-color: #fff;
            padding: 20px;
            margin: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 300px;
			margin: 0 auto;
			text-align: left;
        }
img {
    margin: 0 auto;
    position: absolute;
    margin-bottom: 600px;
}

        input[type="text"], input[type="button"] {
            margin-bottom: 10px;
            
        }

        input[type="button"] {
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
        }

        input[type="button"]:hover {
            background-color: #555;
        }

        hr {
            border: none;
            border-top: 1px solid #ccc;
            margin: 20px 0;
        }
        a {
  text-decoration: none;
}

        #msg, #msg3, #seatmsg {
            color: red;
            font-size: 14px;
            margin-bottom: 5px;
        }